@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Benevolent Dictator";
}
@model BenevolentDictator.Models.Nation
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<h1>Create your nation!</h1>

<form asp-action="Create" asp-controller ="Nation" class="selectLists">
    <label asp-for="Name">Name: </label>
    <input type="text" asp-for="Name"/>
    <input type="hidden" value="@Model.ApplicationUser.Id" for="ApplicationUserId"/>
    <input type="hidden" value="@Model.Id" name="nationId" />
    <select asp-for="GovernmentId"  >
        @foreach (var government in ViewBag.Governments)
        {
            <option value="@government.Id">@government.Name</option>
        }
    </select>
    <select asp-for="EconomyId"  >
        @foreach (var economy in ViewBag.Economies)
        {
            <option value="@economy.Id">@economy.Name</option>
        }
    </select>
    <select asp-for="GeographyId"  >
        @foreach (var geography in ViewBag.Geographies)
        {
            <option value="@geography.Id">@geography.Name</option>
        }
    </select>
    <button type="submit">Submit</button>
</form>
@if(Model.Name!="")
{
    <h3 asp-for="Name">@Model.Name</h3>
}
<h4><span class="geoResult">@Model.Geography.Name</span></h4>
<h4><span class="govResult">@Model.Government.Name</span></h4>
<h4><span class="econResult">@Model.Economy.Name</span></h4>
<script>
    $(document).ready(function () {
        $(".selectLists").change(function () {
        console.log($(this).serialize());
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                url: '@Url.Action("AJAXCreate")',
                datatype: "json",
                success: function (result) {
                    console.log(result);
                    $(".geoResult").text(result.geography.name);
                    $(".govResult").text(result.government.name);
                    $(".econResult").text(result.economy.name);
                }
            })
        });
    });
</script>